.note {
    opacity: 0.58;
  }
  .scroll-1 {
    margin-top: 3px;
    margin-left: 22px;
    float: left;
    font-family: "kremlin-pro-web", sans-serif;
    color: #4c9efc;
    font-size: 25px;
    line-height: 19px;
    letter-spacing: 0.7px;
  }
  .header-2 {
    display: inline-block;
    margin-top: 6px;
    padding-left: 62px;
    float: left;
    background-image: url(http://uploads.webflow.com/5317d67d660658b254000454/534e24233392f3d069000048_arrow-left.png);
    background-position: 0px 50%;
    background-size: 49px;
    background-repeat: no-repeat;
    opacity: 0.75;
    font-family: "kremlin-pro-web", sans-serif;
    color: white;
    font-size: 29px;
    line-height: 34px;
    letter-spacing: 0.7px;
  }
  .header-1 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    width: 386px;
    padding-left: 56px;
    background-image: url(http://uploads.webflow.com/5317d67d660658b254000454/534e23fb94be38d269000057_arrow-left-up.png);
    background-position: 0% 15%;
    background-size: 47px;
    background-repeat: no-repeat;
    opacity: 0.75;
    font-family: "kremlin-pro-web" !important;
    color: white;
    font-size: 29px;
    line-height: 34px;
    letter-spacing: 0.7px;
  }
  .note-text {
    display: inline-block;
    font-family: "kremlin-pro-web", sans-serif;
    color: #4c9efc;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.7px;
  }
  .note-text.features {
    margin-top: 44px;
    padding-top: 10px;
    padding-right: 33px;
    padding-left: 33px;
    background-image: url(http://uploads.webflow.com/5317d67d660658b254000454/534e2e507e997dba350000bc_arrow-right-up-blue.png);
    background-position: 101% 0px;
    background-size: 33px;
    background-repeat: no-repeat;
  }
  .note-text.btw {
    padding-top: 18px;
    padding-right: 30px;
    padding-left: 30px;
    background-image: url(http://uploads.webflow.com/5317d67d660658b254000454/534e34be94be38d269000112_arrow-around-white.png);
    background-position: 100% 0px;
    background-size: 26px;
    background-repeat: no-repeat;
    color: white;
  }
  .note-text.ex {
    display: inline-block;
    margin-bottom: 13px;
    padding-bottom: 10px;
    font-size: 28px;
    text-align: left;
  }
  .note-text.ex.pink {
    padding-right: 47px;
    background-image: url(http://uploads.webflow.com/5317d67d660658b254000454/534e33b894be38d26900010a_arrow-pink.png);
    background-position: 100% 100%;
    background-size: 36px;
    background-repeat: no-repeat;
    color: #e83174;
    float: left;
  }
  .note-text.ex.purple {
    margin-bottom: 25px;
    padding-right: 41px;
    background-image: url(http://uploads.webflow.com/5317d67d660658b254000454/534e3a1c7e997dba35000139_arrows-scroll.png);
    background-position: 100% 0px;
    background-size: 27px;
    background-repeat: no-repeat;
    color: #8860d6;
  }
  .note-text.ex.blue {
    margin-top: 13px;
    margin-left: 26px;
    padding-bottom: 0px;
    padding-left: 36px;
    float: none;
    background-image: url(http://uploads.webflow.com/5317d67d660658b254000454/534e3bfe3392f3d069000167_arrow-blue-leftz.png);
    background-position: 0px 38%;
    background-size: 32px;
    background-repeat: no-repeat;
    position: absolute;
    right: 15%;
    bottom: 28%;
    border-radius: 21px;
  }
  .note-text.ex.blue.turq {
    background-image: url(http://uploads.webflow.com/5317d67d660658b254000454/534e3ce53392f3d069000178_arrow-turq.png);
    color: #23bdc2;
  }
  .note-text.ex.close {
    display: block;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 31px;
    clear: left;
    background-image: url(http://uploads.webflow.com/5317d67d660658b254000454/534e3dee3392f3d06900017e_arrow-close.png);
    background-position: 0px 0px;
    background-size: 25px;
    background-repeat: no-repeat;
    color: #23bdc2;
  }
  .note-text.ex.green {
    width: 200px;
    margin-top: 113px;
    margin-right: 16px;
    padding-bottom: 54px;
    padding-left: 20px;
    float: right;
    background-image: url(http://uploads.webflow.com/5317d67d660658b254000454/534e40bc94be38d2690001fd_arrow-big-hover.png);
    background-position: 0px 100%;
    background-size: 54px;
    background-repeat: no-repeat;
    color: #27c498;
  }
  .note-text.screen {
    display: block;
    width: 240px;
    margin-top: 16px;
    color: black;
  }